---
layout: default
title: Home
---

{% for network in site.data.networks %}
  <a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.name }} fa-3x" aria-hidden="true"></i></a>
{% endfor %}

<h1>Posts</h1>
{% for post in site.posts %}
  {% assign post_year = post.date | date: '%Y' %}
  {% if post_year != year %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2>{{ post_year }}</h2>
    <ul>
    {% assign year = post_year %}
  {% endif %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a> &middot; {{ post.date | date: '%d %b' }}
  </li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
